{% extends 'base.html' %}

{% block content %}


<span class="debug_output col-mid-4"></span>

<span class="disas col-mid-4"></span>

<span class="stack col-mid-4"></span>

<span class="registers col-mid-4"></span>

<div class="col-mid-4 text-center">
    <button id="step" type="button" class="btn btn-primary">Step</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':5001') 

    socket.on('connect', function(){
        socket.emit('command', 'disas main')
        socket.emit('no_out_command', 'b *main')
        socket.emit('no_out_command', 'r')
        var button = $('#step').click(function(){
            socket.emit('no_out_command', 'stepi')
            socket.emit('update_registers')
            socket.emit('update_stack')
            socket.emit('update_disas')
        })
    })

    socket.on('output', function(msg){
        console.log("message: " + msg)
        msg = msg.replace(/\n/g, "<br />")
        $('span.debug_output').append(msg)
    })

    socket.on('disas', function(data){
        console.log("data: " + data)
        data = data.replace(/\n/g, "<br />")
        $('span.disas').html(data)
    })
    
    socket.on('registers', function(data){
        console.log("data: " + data)
        data = data.replace(/\n/g, "<br />")
        $('span.registers').html(data)
    })

    socket.on('stack', function(data){
        console.log("data: " + data)
        data = data.replace(/\n/g, "<br />")
        $('span.stack').html(data)
    })

</script>
{% endblock %}

